{% extends "base.html" %} {% block content %} {% load static %}

<section class="content">
  
    <div class="main-header">
      <img src="/static/img/logo-twitterblue.svg" class="logo" />
      <h1>Home</h1>
    </div>
 
  <section class="post_form">
    <div class="my-icon">
      <img src="/static/img/user.png" class="" />
    </div>
    <form action="/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="name" placeholder="Name" required />
      <textarea name="body" placeholder="Tell us anything" required></textarea>
      <div class="bottom-area">
        <div class="choose-file">
          <input
            id="file"
            name="image"
            type="file"
          />
        </div>
        <div>
          <button class="button" type="submit" value="POST">Tweet</button>
        </div>
      </div>
    </form>
  </section>
  <section class="posts">
    <ul>
      {% for post in posts %}
      <li>
        <img
          class="menu_icon js-menu-icon"
          src="{% static 'img/option.png' %}"
        />
        <div class="menu">
          <a href="/edit/{{ post.id }}/">Edit</a><br/>
          <a href="/delete/{{ post.id }}/">Delete</a>
        </div>
        <div class="logo">
          <img src="{% static 'img/user.png' %}" />
        </div>
        <div class="name_body">
          <div class="name">{{ post.name }}</div>
          <div class="datetime">{{ post.created_at }}</div><br>
          <div class="body">{{ post.body }} <br /></div>

          <br>
          {% if post.image.url %}
          <img src="{{post.image.url}}" style="width:250px; height: 200px; border-radius: 10px;" alt="" />
          {% endif %}
            <br>    
          <div>
              <a href="/like/{{ post.id }}"><img src="{% static 'img/love.png' %}" style="width: 30px;" alt=""></a>
              {{ post.likecount }}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/posts.js' %}"></script>
</section>

{% endblock %}
